<div id="attributes_list">


		<% if !@section.blank? %>		
				<table border="0" cellspacing="5" cellpadding="5" summary="section Details View">

				 			<% @section.attributes.each do |attrib_name, attrib_val| %>
                  				<tr class="<%= cycle('odd', 'even') %>">
								<th><%= attrib_name %>:</th>
								<% if (attrib_name=='created_at' || attrib_name=='updated_at') %>
		  									<td><%= attrib_val.to_s(:long) %></td>
		  								</tr>
								<% else %>
	  									<td><%= attrib_val %></td>
	  								
								<% end %>
								</tr>
							<% end %>

				</table>

		<% else %>
			  section vazio?!
		<% end %>


</div>