<h1>Index</h1>
<p>Selecione um dos destinos:</p>
<dl>
<dt><%= link_to "Subject", :controller => "subjects" %></dt>
<dt><%= link_to "Pages", :controller => "pages" %></dt>
<dt><%= link_to "Sections", :controller => "sections" %></dt>
</dl>